*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    align-content: center;
    text-align: center;
}
.sec1con{
    padding-top: 150px;
    margin-bottom: 50px;
}

div{
    padding-left: 1px;
}

img{
    width: 500px;

}

p, h1{
    width: 400px;
    padding-right: 50px;
    margin-bottom: 20px;
    margin-left: 139px;
}

.sec1{
    display: flex;
    margin-top: 20px;
    padding-left: 20;

}

.secimg1{
    display: flex;
    margin-top: 60px;
    padding-left: 20;

}
.sec2{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: 90px;
}


button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    transition: box-shadow 0.5s;
}

button:hover{
    box-shadow: 10px 10px 10px rgba(184, 174, 174, 0.5);
}

button:active{
    transition: opacity 0.15s;
    opacity: 0.8;
}

.hop{
    width: 300px;
    height: 300px;

}

.sec1con button{
    margin-left: 150px;
    margin-right: 60px;
}
.cardsec2{
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: black;
    padding-bottom: 200px;
    border-radius: 20px;
    opacity: 0.8;
    transition: all 0.15s;
}

.cardsec2:hover{
    opacity: 1;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.5);
}

.cardsec2:active{
    box-shadow: 5px 10px 10px rgba(0,0,0,0.7);
}

.hud{
    margin-left: 20px;
    margin-right: 10px;
    width: 280px;

}

.but{
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100px;
}

.sec3{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 270px;
}
.hud{
    text-align: center;
}
p{
    text-align: center;
    color: black;
}
nav{
    background-color: black;
    overflow: hidden;

}
li{
    list-style: none;
}
a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
a:hover{
    background-color: #ddd;
    color: black;
}
a:active{
    background-color: gray;
  color: white;
}
