*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    align-content: center;
}


h1 {
    padding-top: 20px;
    margin-left: 300px;
}

p {
    margin-left: 400px;
}

nav{
    background-color: black;
    overflow: hidden;

}
li{
    list-style: none;
}
a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
a:hover{
    background-color: #ddd;
    color: black;
}
a:active{
    background-color: gray;
  color: white;
}
