*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    align-content: center;
}
img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 129%;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    padding: 50px;
}

.classleft {
    width: 50%;
    padding: 1rem;
    margin-top: 80px;
    text-align: justify;
}

.classright {
    width: 40%;
    height: 600px;
    padding: 1rem;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
}
button:hover{
    color: grey;
}
button:active{
    color: grey;
}
h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
p{
    font-size: 14px;
    color: black;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    color: black;
}
nav{
    background-color: black;
    overflow: hidden;

}
li{
    list-style: none;
}
a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
a:hover{
    background-color: #ddd;
    color: black;
}
a:active{
    background-color: gray;
  color: white;
}
